In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# File to Load

# Read the modified GoodReads csv and store into Pandas DataFrame
df_book = pd.read_csv('Resources/books_clean.csv')

df_book.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [14]:
# Calculate the number of unique authors in the DataFrame

df_book["Authors"].unique()
authlist = list(df_book["Authors"].unique())
authors = len(authlist)
# Calculate the earliest/latest year a book was published
earliest = df_book["Publication Year"].min()
latest = df_book["Publication Year"].max()
total = df_book["One Star Reviews"].sum() + df_book["Two Star Reviews"].sum() + df_book["Three Star Reviews"].sum()
+ df_book["Four Star Reviews"].sum() + df_book["Five Star Reviews"].sum()
total


# Calculate the total reviews for the entire dataset

159318194

In [17]:
# Place all of the data found into a summary DataFrame
df_summary = pd.DataFrame([{"Unique Authors" : authors,"Earliest" : earliest, "Latest" : latest, "Total" : total}])
df_summary

   Earliest  Latest      Total  Unique Authors
0   -1750.0  2017.0  159318194            4664